<table style="width:100%">
  <tr style="background-color:#FFFFFF">
    <td style="width:10%">
        <img src="https://play-lh.googleusercontent.com/K9FC23HoIYy_idt3LL26zrzMchOGORVzLNmi3L5u-MaghdjpdgHAWv7wQlscNmo9wYjC=s180-rw" alt="DiDi" width=120></td>
    <td style="width:10%">
        <img src="https://logodownload.org/wp-content/uploads/2019/05/99-app-logo.png" alt="99" width=120></td>
      <td>
          <h1 style="text-align:left; text-indent :2em">Rᴇᴘᴏʀᴛ ғᴏʀ ᴛʜᴇ CEO</h1>
          <h2 style="text-align:left; text-indent :2.4em;">ISIS SANTOS COSTA • 2021</h2>
      </td>
  </tr>
</table>

## (soon!)

In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#!pip install ipython-autotime
%load_ext autotime

time: 0 ns

In [4]:
pd.set_option('display.max_columns', None)

time: 32 ms

In [6]:
with open('df_EDA.csv') as f: cols = f.readline().split(',')
del cols[0]
cols[-1] = cols[-1].replace('\n','')
df = pd.read_csv('df_EDA.csv', usecols=cols) # reading previously transformed data
# df.head(2)

,order_id,passenger_id,pickup_datetime,pickup_month,pickup_week,pickup_weekinmonth,pickup_date,pickup_dayofweek,pickup_isweekend,pickup_hour,pickup_isrush,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,dropoff_datetime,duration,duration_minutes,duration_type,trip_distance,total_amount,fare_amount,tip_amount,rate_type,payment_type,pickup_borough,dropoff_borough
0,6433697,5234567816269547,2014-04-11 18:06:45,4,15,2,2014-04-11,Friday,0,18,1,40.714476,-74.015684,40.718173,-74.000814,2014-04-11 18:18:19,0 days 00:11:34,11.566667,10-20min,1.6,13.2,9.5,2.2,Standard,CRD,Manhattan • Lower Manhattan,Manhattan • Lower Manhattan
1,6433698,5234567812367422,2014-04-12 00:20:28,4,15,2,2014-04-12,Saturday,1,0,0,40.713247,-73.958403,40.758526,-73.991395,2014-04-12 00:47:19,0 days 00:26:51,26.850000,20-30min,5.5,27.0,22.0,4.0,Standard,CRD,Brooklyn,Manhattan • Midtown Manhattan

time: 3min 6s